![logo_ironhack_blue 7](https://user-images.githubusercontent.com/23629340/40541063-a07a0a8a-601a-11e8-91b5-2f13e4e6b441.png)

# Lab | Making predictions with logistic regression

In this lab, you will be using the [Sakila](https://dev.mysql.com/doc/sakila/en/) database of movie rentals.

In order to optimize our inventory, we would like to know which films will be rented next month and we are asked to create a model to predict it.

### Instructions

1. Create a query or queries to extract the information you think may be relevant for building the prediction model. It should include some film features and some rental features.

In [1]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import getpass  # To get the password without showing the input
password = getpass.getpass()

In [2]:
connection_string = 'mysql+pymysql://root:' + password + '@localhost/bank'
engine = create_engine(connection_string)

In [11]:
query = '''
SELECT 
    rental_id, rental_date, i.film_id, customer_id, return_date
FROM sakila.rental r
JOIN sakila.inventory i
ON r.inventory_id = i.inventory_id
ORDER BY rental_date ;'''
data = pd.read_sql_query(query, engine)
data.head()

   rental_id         rental_date  film_id  customer_id         return_date
0          1 2005-05-24 22:53:30       80          130 2005-05-26 22:04:30
1          2 2005-05-24 22:54:33      333          459 2005-05-28 19:40:33
2          3 2005-05-24 23:03:39      373          408 2005-06-01 22:12:39
3          4 2005-05-24 23:04:41      535          333 2005-06-03 01:43:41
4          5 2005-05-24 23:05:21      450          222 2005-06-02 04:33:21

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16045 entries, 0 to 16044
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   rental_id    16045 non-null  int64
 1   rental_date  16045 non-null  datetime64[ns]
 2   film_id      16045 non-null  int64
 3   customer_id  16045 non-null  int64
 4   return_date  15861 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(3)
memory usage: 626.9 KB

2. Read the data into a Pandas dataframe.

3. Analyze extracted features and transform them. You may need to encode some categorical variables, or scale numerical variables.

In [15]:
data['rental_id'] = data['rental_id'].astype('object')
data['film_id'] = data['film_id'].astype('object')
data['customer_id'] = data['customer_id'].astype('object')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16045 entries, 0 to 16044
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   rental_id    16045 non-null  object
 1   rental_date  16045 non-null  datetime64[ns]
 2   film_id      16045 non-null  object
 3   customer_id  16045 non-null  object
 4   return_date  15861 non-null  datetime64[ns]
dtypes: datetime64[ns](2), object(3)
memory usage: 626.9+ KB

4. Create a query to get the list of films and a boolean indicating if it was rented last month. This would be our target variable.
5. Create a logistic regression model to predict this variable from the cleaned data.
6. Evaluate the results.

5. Create a logistic regression model to predict this variable from the cleaned data.

6. Evaluate the results.